<div class="container">    
    <div class="row">
        <div class="col-md-6 ">    
            <div class="card">
                <div class="card-body">
                  <form id = "login1">
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">ชนิดสัตว์น้ำ</label>
                      <input type="text" class="form-control" id="password1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">จำนวน</label>
                        <input type="number" class="form-control" id="email1" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">หน่วย</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>กิโลกรัม</option>
                          <option>ตัว</option>
                        </select>
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div> 
        </div>    
        <div class="col-md-6  ">    
            Welcome,  {{id}}    
            <a href="javascript:void(0);" (click)="logout()">Logout</a>    
            <h3>Logbook</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataArr_recv">
                        <th scope="col">#</th>
                        <th scope="col">{{data.Fishtype}}</th>
                        <th scope="col"><span>{{data.amount}}</span><span> {{data.Unit}}</span></th>
                        <th scope="col">{{data.update | date}}</th>
                      </tr>
                </tbody>
              </table>
        </div>    
    </div>
    
  </div>   