<!-- Large modal -->
<button type="button" (click)="helloworld(nodeName)" class="btn btn-outline-info" data-toggle="modal" [attr.data-target] = "'#'+this.nodeName" data-target=".bd-example-modal-lg">More detail</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" [id] = "this.nodeName" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">   
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Node : {{this.nodeName}}
            </h5>
        </div>
        <div class="modal-body">
            <div style="width: 100%">
                  <div #map style="width:100%;height:400px"></div>
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">LAT</th>
                            <th scope="col">LONG</th>
                            <th scope="col">TIMESTAMP</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of dataArr_recv">
                            <th scope="col">#</th>
                            <th scope="col">{{data.GPSLat}}</th>
                            <th scope="col">{{data.GPSLong}}</th>
                            <th scope="col">{{data.updateTime | date:'long'}}</th>
                          </tr>
                        </tbody>
                      </table>
            </div>
                
          </div>
    </div>
  </div>
</div>
