<!-- Large modal -->
<button type="button" id = "btnDetail" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg">More detail</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">   
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                AOA
            </h5>
        </div>
        <div class="modal-body">
            kkkkkkk
          </div>
    </div>
  </div>
</div>
